{% extends 'banners/tags/banners.html' %}

{% block banners %}


<div class="main-banners owl-carousel">

    {% for banner in banners %}
    <div class="item">
        <div class="item-banner">
            {% if banner.image_url %}
            <a href="{{ banner.image_url }}" title="{{ banner.name }}">
                <img data-bnr-pk="{{ banner.pk }}" class="bnr-image-for-page" src="{{ banner.image_file.url }}" alt="{{ banner.name }}">
            </a>
            {% else %}
            <img data-bnr-pk="{{ banner.pk }}" class="bnr-image-for-page" src="{{ banner.image_file.url }}" alt="{{ banner.name }}">
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>
{% endblock banners %}
