{% extends 'admin/change_form.html' %}
{% load utils_tags i18n %}

{% block object-tools-items %}
{{ block.super }}
<li>
    <a href="{% url 'admin:product_clone' original.pk %}">
        {% trans "Клонировать" %}
    </a>
</li>
{% settings_value 'INSTALLED_APPS' as installed_apps %}
{% if 'stroykerbox.apps.vk_market' in installed_apps %}
<li>
    <a href="{% url 'admin:vk_sync_product' original.pk %}">
        {% trans "Синхронизировать с VK-Market" %}
    </a>
</li>
{% endif %}
{% endblock %}
