{% extends "admin/base_site.html" %}
{% load %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Главная</a>
    &rsaquo; <a href="{% url 'admin:catalog_product_changelist'  %}">Товары</a>
    &rsaquo; Замена артикулов
</div>
{% endblock %}

{% block title %}
Замена артикулов товаров {{ block.super }}
{% endblock %}

{% block content %}
<div id="content-main">
    <h1>Замена артикулов у товаров каталога</h1>
    <p>
        В файле должны быть две колонки:
        <ul>
        <li>Первая - <strong>текущий артикул</strong>.</li>
        <li>Вторая - <strong>новый артикул</strong>.</li>
        </ul>
    </p>
    <form method="POST" enctype="multipart/form-data" style="margin: 2rem 0">
        {% csrf_token %}
        {{ form.file }}

        <input type="submit" style="margin-top: 2rem">
    </form>

</div>
{% endblock content %}
