<div class="d-flex flex-column gap-20px">
    <h2 class="h4 mb-0px">
        AI Keywords: Настройки
    </h2>

    <table class="table m-0px">
        <thead>
            <tr>
                <th scope="col" class="w-25 p-0px border-0"></th>
                <th scope="col" class="w-72px p-0px border-0"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <strong>Категории каталога</strong>
                </td>
                <td>
                    <strong>{{ config.SEO_CATEGORY_META_AI_KEYWORDS_DEFAULT }}</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Товары</strong>
                </td>
                <td>
                    <strong>{{ config.SEO_PRODUCT_META_AI_KEYWORDS_DEFAULT }}</strong>
                </td>
            </tr>
        </tbody>

    </table>
</div>
