{% load static %}
<section class="index-8march-questions-wrap" id="questions-section" aria-labelledby="questions-8march-title">
  <div class="index-8march-map-wrap">
    <div class="index-8march-map-overlay" aria-hidden="false">
      <h2 class="index-8march-questions-wrap__title big-title" id="questions-8march-title">ГДЕ МЫ<br>НАХОДИМСЯ</h2>
      <a href="#yamap_addresses" class="index-8march-map-overlay__row index-8march-map-overlay__address" data-scroll-to-map>
        <span class="index-8march-map-overlay__icon index-8march-map-overlay__icon--address" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
        </span>
        <span class="index-8march-map-overlay__text pretty_numbers">
          {% if config.YANDEX_MAP_ADDRESS %}{{ config.YANDEX_MAP_ADDRESS|safe }}{% else %}Г. САМАРА,<br>УЛ. НОВО-САДОВАЯ, Д. 179{% endif %}
        </span>
      </a>
      <a href="tel:+79179500606" class="index-8march-map-overlay__row index-8march-map-overlay__phone">
        <span class="index-8march-map-overlay__icon index-8march-map-overlay__icon--phone" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
        </span>
        <span class="index-8march-map-overlay__text pretty_numbers">+7 (917) 950-06-06</span>
      </a>
      <a href="tel:+79179500606" class="index-8march-map-overlay__btn black-button">СВЯЗАТЬСЯ</a>
    </div>
    <div
      class="conditional-section conditional-section_bg ya-map"
      aria-label="Карта проезда"
    >
      {# Штатный маркер Яндекса для точки (временно). #}
      <div
        class="address-data"
        data-latitude="53.219360"
        data-longitude="50.162294"
        data-hint-content="Г. Самара, ул. Ново-Садовая, д. 179"
        data-balloon-content="Г. Самара, ул. Ново-Садовая, д. 179"
        data-icon-preset="redDotIcon"
      ></div>
      <div
        class="wide-map"
        id="yamap_addresses"
        data-center-latitude="53.21567"
        data-center-longitude="50.15545"
        data-center-zoom="15"
        data-mobile-center-latitude="53.124419118174735"
        data-mobile-center-longitude="50.16250501179298"
        data-mobile-center-zoom="13"
        {# Расскомментировать ВТОРЫМ, когда будет заказ #}
        {# data-main-store-lat="53.219360" #}
        {# data-main-store-lng="50.162294" #}
        {# data-main-store-icon="{% static '8march_design/images/map_icon.png' %}" #}
        {# data-main-store-icon-w="140" #}
        {# data-main-store-icon-h="58" #}
      ></div>
      {% include 'addresses/include/addresses-common.html' with map_container_id='yamap_addresses' %}
    </div>
  </div>
</section>
