{% load static %}
<section class="index-reviews-8march">
  <h2 class="index-reviews-8march__title big-title">ОТЗЫВЫ</h2>
  <div class="index-reviews-8march__card">
    <div class="index-reviews-8march__card-head">
      <span class="index-reviews-8march__brand">Лучиано</span>
      <a href="https://yandex.ru/profile/225213078936?lang=ru" class="index-reviews-8march__source" target="_blank" rel="noopener noreferrer">Яндекс Карты</a>
    </div>
    <div class="index-reviews-8march__rating-block">
      <span class="index-reviews-8march__rating-value">5,0</span>
      <span class="index-reviews-8march__stars" aria-label="5 из 5">★★★★★</span>
    </div>
    <p class="index-reviews-8march__stats">53 отзыва · 56 оценок</p>
    <div class="index-reviews-8march__cta">
      <span class="index-reviews-8march__cta-text">Поставьте нам оценку</span>
      <a href="https://yandex.ru/profile/225213078936?lang=ru" class="index-reviews-8march__btn-leave" target="_blank" rel="noopener noreferrer">Оставить отзыв</a>
    </div>
    <ul class="index-reviews-8march__list">
      <li class="index-reviews-8march__item">
        <span class="index-reviews-8march__avatar" aria-hidden="true"><img src="{% static '8march_design/images/hat-ico.png' %}" alt="" width="40" height="40" class="index-reviews-8march__avatar-img"></span>
        <div class="index-reviews-8march__body">
          <span class="index-reviews-8march__name">Виктория Кухарева</span>
          <span class="index-reviews-8march__date">29 сентября 2025</span>
          <span class="index-reviews-8march__stars index-reviews-8march__stars--small">★★★★★</span>
          <p class="index-reviews-8march__text">Обращаюсь в цветочную студию не впервые. От самого начала до получения букета все прошло идеально.</p>
        </div>
      </li>
      <li class="index-reviews-8march__item">
        <span class="index-reviews-8march__avatar" aria-hidden="true"><img src="{% static '8march_design/images/goose-ico.png' %}" alt="" width="40" height="40" class="index-reviews-8march__avatar-img"></span>
        <div class="index-reviews-8march__body">
          <span class="index-reviews-8march__name">Кристина Невская</span>
          <span class="index-reviews-8march__date">22 ноября 2025</span>
          <span class="index-reviews-8march__stars index-reviews-8march__stars--small">★★★★★</span>
          <p class="index-reviews-8march__text">Благодарю за красивый букет и оперативную доставку. Рекомендую!</p>
        </div>
      </li>
    </ul>
    <p class="index-reviews-8march__more">
      <a href="https://yandex.ru/profile/225213078936?lang=ru" class="index-reviews-8march__more-link" target="_blank" rel="noopener noreferrer">Больше отзывов на Яндекс Картах</a>
    </p>
  </div>
</section>
