<section class="index-info-8march">
  <div class="index-info-8march__watermark" aria-hidden="true"></div>
  <div class="index-info-8march__inner">
    <div class="index-info-8march__item">
      <h3 class="index-info-8march__heading">ГАРАНТИЯ<br>КАЧЕСТВА 2 ДНЯ</h3>
      <p class="index-info-8march__text">мы получаем цветы с лучших премиальных плантаций и гарантируем качество и свежесть букетов</p>
    </div>
    <div class="index-info-8march__item">
      <h3 class="index-info-8march__heading">БЕСПЛАТНАЯ<br>ДОСТАВКА ПО ГОРОДУ</h3>
      <p class="index-info-8march__text">доставка в отдалённые районы рассчитывается индивидуально менеджером</p>
    </div>
    <div class="index-info-8march__item">
      <h3 class="index-info-8march__heading">БОЛЬШОЙ ВЫБОР<br>ПОДАРКОВ</h3>
      <p class="index-info-8march__text">свечи, диффузоры, вазы, косметика и товары для дома</p>
    </div>
  </div>
  <div class="index-info-8march__ratings-block">
    <div class="index-info-8march__ratings-inner">
      <div class="index-ratings-8march__item">
        <a href="https://go.2gis.com/FiKdO" target="_blank" rel="noopener noreferrer" class="index-ratings-8march__link">
          <span class="index-ratings-8march__label"><span class="index-ratings-8march__label-num">2</span>ГИС</span>
          <span class="index-ratings-8march__row"><span class="index-ratings-8march__score">5.0</span><span class="index-ratings-8march__star">★</span></span>
        </a>
      </div>
      <div class="index-ratings-8march__item">
        <a href="https://yandex.ru/profile/225213078936?lang=ru" target="_blank" rel="noopener noreferrer" class="index-ratings-8march__link">
          <span class="index-ratings-8march__label">ЯНДЕКС</span>
          <span class="index-ratings-8march__row"><span class="index-ratings-8march__score">5.0</span><span class="index-ratings-8march__star">★</span></span>
        </a>
      </div>
    </div>
  </div>
</section>
