{% load utils_tags humanize commerce_tags catalog_tags i18n %}
<h3 style="margin: 1.5rem 0 1rem;">{% trans "Детали заказа" %}</h3>

<table style="border-collapse: collapse;width: 100%;padding-bottom: 20px;" cellspacing="0" cellpadding="0">
    <tbody>
        {% for product in order.order_products.all %}
        {% product_cart_price product.product order as product_price %}
        <tr>
            <td style="padding: 8px 15px;border-bottom: 1px solid #E5E5EA;">
                <span style="display: block;font-family: Arial,sans-serif;font-size: 10px;color: #767676;">{{ product.product.code }}</span>
                <a href="{% settings_value 'BASE_URL' %}{{ product.product.get_absolute_url }}" target="_blank" style="font-family: Arial,sans-serif;font-size: 14px;line-height: 20px;">{{ product.product.name }}</a>
            </td>
            <td style="padding: 8px 15px;font-family: Arial,sans-serif;font-size: 14px;line-height: 18px;color: #333;border-bottom: 1px solid #E5E5EA;">{{ product_price|price_format }} {{ currency_symbol }}</td>
            <td style="padding: 8px 15px;font-family: Arial,sans-serif;font-size: 14px;line-height: 18px;color: #333;border-bottom: 1px solid #E5E5EA;">{{ product.quantity }}</td>
            <td style="padding: 8px 15px;font-family: Arial,sans-serif;font-size: 14px;line-height: 18px;color: #333;border-bottom: 1px solid #E5E5EA;"><strong>{{ product_price|multiplication:product.quantity|price_format }} {{ currency_symbol }}</strong></td>
        </tr>
        {% endfor %}

    </tbody>
</table>


<table style="float: right;border-collapse: collapse;margin-top: 20px;" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="font-family: Arial,sans-serif;font-size: 14px;line-height: 20px;color: #333;padding-bottom: 10px;">
                {% trans "Общий вес, кг:" %}
            </td>
            <td style="font-family: Arial,sans-serif;font-size: 14px;line-height: 20px;color: #333;padding-bottom: 10px;" align="right">{{ order.total_weight }}</td>
        </tr>
        {% if order.delivery_cost %}
        <tr>
            <td style="font-family: Arial,sans-serif;font-size: 14px;line-height: 20px;color: #333;padding-bottom: 10px;">
                {% trans "Стоимость доставки:" %}
            </td>
            <td style="font-family: Arial,sans-serif;font-size: 14px;line-height: 20px;color: #333;padding-bottom: 10px;" align="right">
                {{ order.delivery_cost|price_format }} {{ currency_symbol }}
            </td>
        </tr>
        {% endif %}
        <tr>
            <td style="font-family: Arial,sans-serif;font-size: 18px;line-height: 24px;color: #333;">
                <strong>{% trans "Итого:" %}</strong>
            </td>
            <td style="font-family: Arial,sans-serif;font-size: 18px;line-height: 24px;color: #333;" align="right"><strong>{{ order.final_price|price_format }} {{ currency_symbol }}</strong></td>
        </tr>
    </tbody>
</table>
