{% load static thumbnail i18n %}
{% if articles %}
<section class="conditional-section">
    <div class="container">
        <span class="content-title h2">
            {% trans "Другие статьи" %}
        </span>
        <div class="news-slider">
            <div class="owl-carousel">
                {% for article in articles %}
                <div class="item">
                    <a class="new-slide-item new-slide-item--bg-1" href="{{ article.get_absolute_url }}">
                        <span class="new-slide-item__image new-slide-item__image--picture">
                            {% if article.image %}
                            {% thumbnail article.image '350x400' as im %}
                            <img src="{{ im.url }}" alt="{{ article.title }}">
                            {% endthumbnail %}
                            {% else %}
                            <img src="{% static 'images/no-img.png' %}" alt="{{ article.title }}">
                            {% endif %}
                        </span>
                        <span class="new-slide-item__content">
                            <span class="new-slide-item__title">{{ article.label }}</span>
                            <span class="new-slide-item__name">{{ article.title }}</span>
                        </span>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
{% endif %}
