{% if banner.image_url %}
{% load custom_form_tags %}
<a class="content-standard-box{% if banner.hide_adaptive %} hide_adaptive{% endif %}" href="{{ banner.image_url }}"{% if banner.name %}   title="{{ banner.name }}"{% endif %}>
    {% else %}
    <div class="content-standard-box{% if banner.hide_adaptive %} hide_adaptive{% endif %}">
        {% endif %}
        <div class="content-standard-box__container">
            {% if banner.image_file %}

            {% if banner.img_open_full and not banner.image_url %}
            <a class="content-image image-zoom" href="{{ banner.image_file.url }}" data-fancybox="data-fancybox">
                <div class="image">
                    <img src="{{ banner.image_file.url }}"{% if banner.name %} alt="{{ banner.name }}"{% endif %}>
                </div>
            </a>
            {% else %}
            <div class="content-image image-zoom">
                <div class="image">
                    <img src="{{ banner.image_file.url }}"{% if banner.name %}  alt="{{ banner.name }}"{% endif %}>
                </div>
            </div>
            {% endif %}

            {% elif banner.text %}
            <div class="content-background-box__text-content">
                {{ banner.text|custom_form_inside }}
            </div>
            {% endif %}
        </div>
        {% if banner.image_url %}
</a>{% else %}</div>{% endif %}
