{% load static utils_tags location_tags catalog_tags i18n search_tags %}
<section class="__header fixed">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo">
                    <a href="/">
                        <img
                            src="{% if config.HEDER_LOGO_FILE %}{{ MEDIA_URL }}{{ config.HEDER_LOGO_FILE }}{% else %}{% static 'images/logo.svg' %}{% endif %}">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 pl--0">
                <div class="custom-block">
                    <button class="btn catalog-btn">
                        <span></span>
                        {{ config.CATALOG_MENU_TITLE }}
                    </button>
                    {% render_search_form %}
                </div>
            </div>

            <div class="col-lg-2">
                <div class="options-box">
                    <!-- --v1--  -->
                    <ul class="nav-items">
                        {% block nav_items %}
                        {% for menu_item in header_menu %}
                        <li{% if menu_item.css_class %} class="{{ menu_item.css_class }}"{% endif %}>
                            <a{% if menu_item.title %} title="{{ menu_item.title }}"{% endif %}
                                                       href="{{ menu_item.url }}"{% if request.path == menu_item.url %}
                                                       class="active"{% endif %}{% if menu_item.new_tab %} target="_blank"{% endif %}>
                                {{ menu_item.anchor }}
                            </a>
                        </li>
                        {% endfor %}
                        {% endblock nav_items %}
                    </ul>

                    <ul class="option-items">
                        {# compare indicator icon #}
                        {# <li> #}
                            {#     <a href="#"> #}
                                {#         <img src="{% static 'images/item.svg' %}" alt=""> #}
                                {#         3 #}
                                {#     </a> #}
                            {# </li> #}
                        <li>
                            <a class="header-cart" href="{% url 'cart:cart' %}">
                                {% if config.HEADER_ICON_CART %}
                                <img class="icon-svg" src="{% get_media_prefix %}{{ config.HEADER_ICON_CART }}"/>
                                    {% if config.HEADER_ICON_CART_HOVER %}
                                    <img class="icon-svg hover" src="{% get_media_prefix %}{{ config.HEADER_ICON_CART_HOVER }}"/>
                                    {% endif %}
                                {% else %}
                                <img src="{% static 'images/cart-icon-white.svg' %}" alt="">
                                {% endif %}
                                <span class="cart-number">{{ cart|length }}</span>
                            </a>
                        </li>
                        {% if config.WHITETHEME_SHOW_LK_LINKS %}
                        <li>
                            <a href="{% if request.user.is_authenticated %}{% url 'users:profile' %}{% else %}{% url 'login' %}{% endif %}">
                                {% if config.HEADER_ICON_LK %}
                                <img class="icon-svg" src="{% get_media_prefix %}{{ config.HEADER_ICON_LK }}"/>
                                    {% if config.HEADER_ICON_LK_HOVER %}
                                    <img class="icon-svg hover" src="{% get_media_prefix %}{{ config.HEADER_ICON_LK_HOVER }}"/>
                                    {% endif %}
                                {% else %}
                                <img src="{% static 'images/profile-icon-white.svg' %}" alt="">
                                {% endif %}
                                {% if request.user.is_authenticated %}

                                {{ request.user.display_name }}

                                {% else %}
                                {% trans "Авторизация" %}
                                {% endif %}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="contact-box">
                    {% render_custom_header_phone %}
                    {% if not config.AMOCRM_CALLME_FORM %}
                    <a href="javascript:;" data-fancybox="callme-modal" data-src="#callme-modal">
                        <img src="{% static 'images/order-call-arrow.svg' %}" alt="">
                        {% trans "Заказать звонок" %}
                    </a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    <!-- catalog  -->
    <div class="catalog-box">
        <div class="container">
            {% render_catalog_dropdown_menu %}
        </div>
    </div>
</section>
