{% load catalog_tags %}

{% if product.has_price_from_to %}
<span class="product-price-range">
    <span class="product-price-range__text">
        от <span class="product-price-range__cost">
            {{ product.price|price_format }}
        </span>
        {{ currency_symbol }}{{ product.uom_suffix }}
    </span>
    <span class="product-price-range__text">
        до <span class="product-price-range__cost">
            {{ product.old_price|price_format }}
        </span>
        {{ currency_symbol }}{{ product.uom_suffix }}
    </span>
</span>

{% elif prices.main %}

<span class="product-item__cost">

    <span class="product-item__cost-product">
        {% if product.price_from %}от{% endif %}
        {{ prices.main|multiplicity_price:product|price_format }}
        <span>{{ currency_symbol }}{{ product.multiplicity_label_suffix }}</span>
    </span>

    {% if product.old_price or prices.main < prices.product_price %}
    <span class="product-item__cost-old">
        {% if prices.main < prices.product_price %}
        {{ prices.product_price|multiplicity_price:product|price_format }}
        {% else %}
        {{ product.old_price|multiplicity_price:product|price_format }}
        {% endif %} {{ currency_symbol }}
    </span>
    {% endif %}

</span>

{% endif %}
