{% load catalog_tags %}
{% if products %}
{% if with_container %}
<section class="conditional-section">
    <div class="container">{% endif %}
        {% if block_title %}
        <h2 class="mb-25">{{ block_title }}</h2>
        {% endif %}
        <div class="slider-constructor"
             data-rows="2"
             data-sm-rows="{{ rows|default:1 }}"
             data-slides="{{ config.SLIDER_CONSTRUCTOR__DATA_SLIDES }}"
             data-sm-slides="{{ config.SLIDER_CONSTRUCTOR__DATA_SM_SLIDES }}"
             data-md-slides="{{ config.SLIDER_CONSTRUCTOR__DATA_MD_SLIDES }}"
             data-lg-slides="{{ cols|default:config.SLIDER_CONSTRUCTOR__DATA_LG_SLIDES }}">
            {% for product in products %}
            {% render_product_teaser_new product %}
            {% endfor %}
        </div>
        {% if with_container %}
    </div>
</section>{% endif %}
{% endif %}
