{% if request.user.is_authenticated %}
{% load static sekizai_tags i18n %}


<div class="rate-product">
    <div class="rate-product__title">{% trans "Пожалуйста, оцените:" %}</div>
    <div class="rate-product__content">
        <div class="rating-stars text-center">
            <ul id="stars">
                <li class="star" title="Poor" data-value="1">
                    <i class="fa fa-star fa-fw"></i>
                </li>
                <li class="star" title="Fair" data-value="2">
                    <i class="fa fa-star fa-fw"></i>
                </li>
                <li class="star" title="Good" data-value="3">
                    <i class="fa fa-star fa-fw"></i>
                </li>
                <li class="star" title="Excellent" data-value="4">
                    <i class="fa fa-star fa-fw"></i>
                </li>
                <li class="star" title="WOW!!!" data-value="5">
                    <i class="fa fa-star fa-fw"></i>
                </li>
            </ul>
        </div>

    </div>
</div>

<form action="{% url 'reviews:review_add' product.pk %}" method="post" id="review_form">
    <div class="review-textarea">
        <div class="form-group">
            <textarea class="form-control" name="review_text" autocomplete="off" required=""></textarea>
            <label for="text" class="label-name">
                <span class="content-name">
                    {% trans "Ваш отзыв*" %}
                </span>
            </label>
        </div>
        {{ form.rating_value }}

        <button class="btn btn--main-min btn--fixed-small">{% trans "Отправить" %}</button>
    </div>
</form>


{% addtoblock 'js' %}
{{ form.media }}
{% endaddtoblock %}

{% else %}
<p>
    {% url 'login' as login_url %}
    {% blocktranslate with login_url=login_url path=request.path %}
    Для возможности оставлять свои отзывы на товары сайта необходимо <a href="{{ login_url }}?next={{ path }}">авторизироваться</a>.
    {% endblocktranslate %}
</p>

{% endif %}
