<!DOCTYPE html>
<html lang="ru" class="page">
    {% load static %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="date=no">
        <meta name="format-detection" content="address=no">
        <meta name="format-detection" content="email=no">
        <title>Качество заполнения сайта</title>

        <link rel="stylesheet" href="{% static 'check_page/css/vendor.css' %}">
        <link rel="stylesheet" href="{% static 'check_page/css/main.css' %}">
        <script defer src="{% static 'check_page/js/main.js' %}"></script>
    </head>

    <body class="page-body">
        <h1 class="visually-hidden">
            Проверка качества заполнения сайта {{ project }}
        </h1>

        <div class="site-container">
            <main class="main">
                <section class="my-80px">
                    <div class="container">
                        <h1 class="mb-40px">
                            Проверка качества заполнения сайта {{ project }}
                        </h1>

                        <div class="d-flex flex-column gap-60px mb-lg-120px mb-80px">
                            <div class="d-flex flex-column gap-20px">
                                <h2 class="h4 mb-0px">
                                    Главная страница
                                </h2>

                                <table class="table m-0px">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="w-25 p-0px border-0"></th>
                                            <th scope="col" class="w-72px p-0px border-0"></th>
                                            <th scope="col" class="p-0px border-0"></th>
                                        </tr>
                                    </thead>
                                    {% if common_settings.parser_errors %}
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong>Ошибки парсинга</strong>
                                                {% for err in common_settings.parser_errors %}
                                                <div style="color: red">{{ err }}</div>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        {% else %}
                                        <tbody>
                                            <tr>
                                                <th scope="row">
                                                    Тег H1
                                                </th>
                                                <td>
                                                    <div class="form-check d-flex align-items-center pe-none p-0px m-0px">
                                                        <input type="checkbox" class="form-check-input m-0px"{% if common_settings.h1 %} checked{% endif %} inert>
                                                    </div>
                                                </td>
                                                <td>
                                                     {{ common_settings.h1 }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    Теги H2
                                                </th>
                                                <td>
                                                    {{ common_settings.h2|length }} шт
                                                </td>
                                                <td>
                                                    {% for h2 in common_settings.h2 %}
                                                    {{ h2 }}
                                                    {% if not forloop.last %}<br />{% endif %}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    Title
                                                </th>
                                                <td>
                                                    <div class="form-check d-flex align-items-center pe-none p-0px m-0px">
                                                        <input type="checkbox" class="form-check-input m-0px"{% if common_settings.title %} checked{% endif %} inert>
                                                    </div>
                                                </td>
                                                <td>
                                                    {{ common_settings.title }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    Description
                                                </th>
                                                <td>
                                                    <div class="form-check d-flex align-items-center pe-none p-0px m-0px">
                                                        <input type="checkbox" class="form-check-input m-0px"{% if common_settings.description %} checked{% endif %} inert>
                                                    </div>
                                                </td>
                                                <td>
                                                    {{ common_settings.description }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    Keywords
                                                </th>
                                                <td>
                                                    <div class="form-check d-flex align-items-center pe-none p-0px m-0px">
                                                        <input type="checkbox" class="form-check-input m-0px"{% if common_settings.keywords %} checked{% endif %} inert>
                                                    </div>
                                                </td>
                                                <td>
                                                    {{ common_settings.keywords }}
                                                </td>
                                            </tr>
                                        </tbody>
                                        {% endif %}

                                </table>
                            </div>

                            <div class="d-flex flex-column gap-20px">
                                <h2 class="h4 mb-0px">
                                    Общие настройки
                                </h2>

                                <table class="table m-0px">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="w-25 p-0px border-0"></th>
                                            <th scope="col" class="w-72px p-0px border-0"></th>
                                            <th scope="col" class="p-0px border-0"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                Кол-во статичных страниц
                                            </th>
                                            <td>
                                                {{ common_settings.staticpage_count }}
                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                Кол-во новостей/акций
                                            </th>
                                            <td>
                                                {{ common_settings.news_actions_count }}
                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                SITE_NAME
                                            </th>
                                            <td>
                                                {{ common_settings.site_name }}
                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                MANAGER_EMAILS
                                            </th>
                                            <td>
                                                <div class="form-check d-flex align-items-center pe-none p-0px m-0px">
                                                    <input type="checkbox" class="form-check-input m-0px"{% if common_settings.manager_emails %} checked{% endif %} inert>
                                                </div>
                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                Минимум 1 запись в “контактах”
                                            </th>
                                            <td>
                                                <div class="form-check d-flex align-items-center pe-none p-0px m-0px">
                                                    <input type="checkbox" class="form-check-input m-0px"{% if common_settings.contact_minimum %} checked{% endif %} inert>
                                                </div>
                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                Favicon загружен
                                            </th>
                                            <td>
                                                <div class="form-check d-flex align-items-center pe-none p-0px m-0px">
                                                    <input type="checkbox" class="form-check-input m-0px"{% if common_settings.has_favicon %} checked{% endif %} inert>
                                                </div>
                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                Robots.txt
                                            </th>
                                            <td>
                                                <div class="form-check d-flex align-items-center pe-none p-0px m-0px">
                                                    <input type="checkbox" class="form-check-input m-0px"{% if common_settings.has_robots_txt %} checked{% endif %} inert>
                                                </div>
                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                Яндекс-метрика
                                            </th>
                                            <td>
                                                <div class="form-check d-flex align-items-center pe-none p-0px m-0px">
                                                    <input type="checkbox" class="form-check-input m-0px"{% if common_settings.yandex_metrika %} checked{% endif %} inert>
                                                </div>
                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                Телеграм-бот
                                            </th>
                                            <td>
                                                <div class="form-check d-flex align-items-center pe-none p-0px m-0px">
                                                    <input type="checkbox" class="form-check-input m-0px"{% if common_settings.telebot %} checked{% endif %} inert>
                                                </div>
                                            </td>
                                            <td>

                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="d-flex flex-column gap-60px mb-lg-120px mb-80px">
                            <div class="d-flex flex-column gap-20px">
                                <h2 class="h4 mb-0px">
                                    Категории
                                </h2>

                                <div class="table-responsive">
                                    <table class="table table-category table-layout-fixed m-0px">
                                        <colgroup>
                                            <col class="w-20">
                                            <col class="w-10">
                                            <col class="w-10">
                                            <col class="w-10">
                                            <col class="w-10">
                                            <col class="w-10">
                                            <col class="w-15">
                                            <col class="w-15">
                                        </colgroup>
                                        <thead class="table-light">
                                            <tr>
                                                <th></th>
                                                <th>Картинка категории</th>
                                                <th>SEO-текст</th>
                                                <th>ТОП-товары категории</th>
                                                <th>Связанные категории</th>
                                                <th>Параметры</th>
                                                <th>Сформированный H1</th>
                                                <th>Сформированный title</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">
                                                    <button class="accordion-button collapsed" type="button"
                                                                                               data-bs-toggle="collapse"
                                                                                               data-bs-target="#collapse_category_0"
                                                                                               aria-expanded="false"
                                                                                               aria-controls="collapse_category">
                                                        Все категории
                                                    </button>
                                                </th>
                                                <td>
                                                    <div class="text-center">
                                                        {{ categories.summary.has_image }}/{{ categories.summary.count }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        {{ categories.summary.has_seo_text }}/{{ categories.summary.count }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        {{ categories.summary.has_top_products }}/{{ categories.summary.count }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        {{ categories.summary.has_related }}/{{ categories.summary.count }}
                                                    </div>
                                                </td>
                                                <td>

                                                </td>
                                                <td>

                                                </td>
                                                <td>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" class="p-0px">
                                                    <div id="collapse_category_0" class="collapse">
                                                        <table class="table table-layout-fixed m-0px">
                                                            <colgroup>
                                                                <col class="w-20">
                                                                <col class="w-10">
                                                                <col class="w-10">
                                                                <col class="w-10">
                                                                <col class="w-10">
                                                                <col class="w-10">
                                                                <col class="w-15">
                                                                <col class="w-15">
                                                            </colgroup>
                                                            <tbody>
                                                                {% for cat in categories.items %}
                                                                <tr>
                                                                    <th scope="row">
                                                                        {{ cat.name }}
                                                                    </th>
                                                                    <td>
                                                                        <div class="form-check d-flex justify-content-center align-items-center pe-none p-0px m-0px">
                                                                            <input type="checkbox" class="form-check-input m-0px"{% if cat.has_image %} checked{% endif %} inert>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-check d-flex justify-content-center align-items-center pe-none p-0px m-0px">
                                                                            <input type="checkbox" class="form-check-input m-0px"{% if cat.has_seo_text %} checked{% endif %} inert>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-check d-flex justify-content-center align-items-center pe-none p-0px m-0px">
                                                                            <input type="checkbox" class="form-check-input m-0px"{% if cat.has_top_products %} checked{% endif %} inert>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-check d-flex justify-content-center align-items-center pe-none p-0px m-0px">
                                                                            <input type="checkbox" class="form-check-input m-0px"{% if cat.has_related %} checked{% endif %} inert>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="text-center">
                                                                            {{ cat.params_count }}
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        {{ cat.h1 }}
                                                                    </td>
                                                                    <td>
                                                                        {{ cat.meta_title }}
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-column gap-60px mb-lg-120px mb-80px">
                            <div class="d-flex flex-column gap-20px">
                                <h2 class="h4 mb-0px">
                                    Товары
                                </h2>

                                <div class="table-responsive">
                                    <table class="table table-products table-layout-fixed m-0px">
                                        <colgroup>
                                            <col class="w-20">
                                            <col class="w-10">
                                            <col class="w-10">
                                            <col class="w-10">
                                            <col class="w-10">
                                            <col class="w-10">
                                            <col class="w-10">
                                            <col class="w-10">
                                            <col class="w-10">
                                        </colgroup>
                                        <thead class="table-light">
                                            <tr>
                                                <th></th>
                                                <th>Min одна картинка</th>
                                                <th>Min три картинки</th>
                                                <th>Описание</th>
                                                <th>Описание от 500 символов</th>
                                                <th>Параметры</th>
                                                <th>Свойства</th>
                                                <th>Сопутствующие товары</th>
                                                <th>Max вес изображений</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">
                                                    <button class="accordion-button collapsed" type="button"
                                                                                               data-bs-toggle="collapse"
                                                                                               data-bs-target="#collapse_products_all"
                                                                                               aria-expanded="false"
                                                                                               aria-controls="collapse_products">
                                                        Все товары
                                                    </button>
                                                </th>
                                                <td>
                                                    <div class="text-center">
                                                        {{ products.has_images }}/{{ products.count }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        {{ products.min_3_img }}/{{ products.count }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        {{ products.has_description }}/{{ products.count }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        {{ products.description_500 }}/{{ products.count }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        {{ products.has_params }}/{{ products.count }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        {{ products.has_props }}/{{ products.count }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        {{ products.has_related }}/{{ products.count }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        {{ products.max_img_size }}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="9" class="p-0px">
                                                    <div id="collapse_products_all" class="collapse">
                                                        <table class="table table-layout-fixed m-0px">
                                                            <colgroup>
                                                                <col class="w-20">
                                                                <col class="w-10">
                                                                <col class="w-10">
                                                                <col class="w-10">
                                                                <col class="w-10">
                                                                <col class="w-10">
                                                                <col class="w-10">
                                                                <col class="w-10">
                                                                <col class="w-10">
                                                            </colgroup>
                                                            <tbody>
                                                                {% for name, data in products_by_category.items %}
                                                                <tr>
                                                                    <th scope="row">
                                                                        {{ name }}
                                                                        </button>
                                                                    </th>
                                                                    <td>
                                                                        <div class="text-center">
                                                                            {{ data.has_images|default:0 }}/{{ data.count }}
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="text-center">
                                                                            {{ data.min_3_img|default:0 }}/{{ data.count }}
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="text-center">
                                                                            {{ data.has_description|default:0 }}/{{ data.count }}
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="text-center">
                                                                            {{ data.description_500|default:0 }}/{{ data.count }}
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="text-center">
                                                                            {{ data.has_params|default:0 }}/{{ data.count }}
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="text-center">
                                                                            {{ data.has_props|default:0 }}/{{ data.count }}
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="text-center">
                                                                            {{ data.has_related|default:0 }}/{{ data.count }}
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="text-center">
                                                                            {{ data.max_img_size }}
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </body>

</html>
