{% extends 'base.html' %}

{% load seo_tags sekizai_tags static %}

{% block body_main_top_content_with_sections %}
<section class="{% block content_bg_class %}section{% endblock %}">
    <div class="container">
        {% render_breadcrumbs %}
    </div>
    <div class="container content-block">
        <h1>{{ page.title }}</h1>
    </div>
</section>
{% for item in html %}
  {% if item.without_wrapper %}
    {{ item.code|safe }}
  {% else %}
    <section class="conditional-section{% if item.wrapper_classes %} {{ item.wrapper_classes }}{% endif %}{% if item.tag_class %} {{ item.tag_class }}{% endif %}{% if item.bg_color or item.bg_image_url %} conditional-section_bg{% endif %}"
             {% if item.bg_color or item.top_indent or item.bottom_indent %}
             style="{% if item.bg_color %}background-color: {{ item.bg_color }};{% endif %}{% if item.top_indent %} padding-top: {{ item.top_indent }}px;{% endif %}{% if item.bottom_indent %} padding-bottom: {{ item.bottom_indent }}px;{% endif %}"
             {% endif %}>
        {% if item.bg_image_url %}<img src="{{ item.bg_image_url }}"/>{% endif %}
        <div class="container">
            {{ item.code|safe }}
        </div>
    </section>
  {% endif %}
{% endfor %}
{% endblock body_main_top_content_with_sections %}

{% block bottom %}
  {{ block.super }}
  {% for css_url in page.custom_css %}
    <link rel="stylesheet" href="{{ css_url }}?{{ current_version }}">
  {% endfor %}
  {% for js_url in page.custom_js %}
    <script src="{{ js_url }}?{{ current_version }}"></script>
  {% endfor %}
{% endblock %}
