{% extends "admin/base_site.html" %}
{% load %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Главная</a>
    &rsaquo; <a href="{% url 'admin:addresses_partner_changelist'  %}">Партнеры</a>
    &rsaquo; Импорт данных о партнерах
</div>
{% endblock %}

{% block title %}
Импорт партнеров {{ block.super }}
{% endblock %}

{% block content %}
<div id="content-main">
    <h1>Импорт данных о партнерах</h1>
    <form method="POST" enctype="multipart/form-data" style="margin: 2rem 0">
        {% csrf_token %}
        {% for field in form %}
        <div style="margin-top: 1rem">
            {% if field.label %}
            <div>
                {{ field.label }}
            </div>
            {% endif %}
            {{ field }}
            {% if field.help_text %}
            {% if field.field.widget.input_type == 'checkbox' %}
            <span>{{ field.help_text }}</span>
            {% else %}
            <div>{{ field.help_text }}</div>
            {% endif %}
            {% endif %}
        </div>
        {% endfor %}
        <input type="submit" style="margin-top: 2rem">
    </form>

</div>
{% endblock %}
